TokenServerApp/WebContent/wsdl/TokenService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.etf.unibl.org" xmlns:intf="http://service.etf.unibl.org" xmlns:tns1="http://model.etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.etf.unibl.org"/>
   <element name="getToken">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTokenResponse">
    <complexType>
     <sequence>
      <element name="getTokenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPassword">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPasswordResponse">
    <complexType>
     <sequence>
      <element name="getPasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTokens">
    <complexType/>
   </element>
   <element name="getTokensResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTokensReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePerson">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePersonResponse">
    <complexType>
     <sequence>
      <element name="updatePersonReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="logOut">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="logOutResponse">
    <complexType>
     <sequence>
      <element name="logOutReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkTokenValidity">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkTokenValidityResponse">
    <complexType>
     <sequence>
      <element name="checkTokenValidityReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Person">
    <sequence>
     <element name="hashPassword" nillable="true" type="xsd:string"/>
     <element name="jmb" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="surname" nillable="true" type="xsd:string"/>
     <element name="uuid" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updatePersonRequest">

      <wsdl:part element="impl:updatePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonResponse">

      <wsdl:part element="impl:updatePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkTokenValidityRequest">

      <wsdl:part element="impl:checkTokenValidity" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTokensRequest">

      <wsdl:part element="impl:getTokens" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logOutRequest">

      <wsdl:part element="impl:logOut" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTokenRequest">

      <wsdl:part element="impl:getToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logOutResponse">

      <wsdl:part element="impl:logOutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTokenResponse">

      <wsdl:part element="impl:getTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPasswordResponse">

      <wsdl:part element="impl:getPasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkTokenValidityResponse">

      <wsdl:part element="impl:checkTokenValidityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPasswordRequest">

      <wsdl:part element="impl:getPassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTokensResponse">

      <wsdl:part element="impl:getTokensResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TokenService">

      <wsdl:operation name="getToken">

         <wsdl:input message="impl:getTokenRequest" name="getTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTokenResponse" name="getTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPassword">

         <wsdl:input message="impl:getPasswordRequest" name="getPasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPasswordResponse" name="getPasswordResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTokens">

         <wsdl:input message="impl:getTokensRequest" name="getTokensRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTokensResponse" name="getTokensResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdl:input message="impl:updatePersonRequest" name="updatePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePersonResponse" name="updatePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logOut">

         <wsdl:input message="impl:logOutRequest" name="logOutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logOutResponse" name="logOutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkTokenValidity">

         <wsdl:input message="impl:checkTokenValidityRequest" name="checkTokenValidityRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkTokenValidityResponse" name="checkTokenValidityResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TokenServiceSoapBinding" type="impl:TokenService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTokens">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTokensRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTokensResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logOutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logOutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkTokenValidity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkTokenValidityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkTokenValidityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TokenServiceService">

      <wsdl:port binding="impl:TokenServiceSoapBinding" name="TokenService">

         <wsdlsoap:address location="http://localhost:8080/TokenServerApp/services/TokenService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
